<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prompt gen</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>AI PROMPT OPTIMIZER</h1>
    <br>

    <textarea id="prompt" rows="10" placeholder="Enter your prompt here..."></textarea>
    <button id="send">Optimize Prompt</button>
    <button id="reset" class="secondary">Reset</button>
    <div id="conversation"></div>
    <div id="final_prompt"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
