<!DOCTYPE html>
<html lang=" en">

<head>
    <meta   charset="UTF-8">
    <title>Prompt gen</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"><!--link is self closing-->
</head>

<body>
    <h1>AI PROMPT OPTIMIZER</h1>
    <br>
    <textarea id="prompt" rows="10" cols="50" placeholder="Enter your prompt here..."></textarea>
    <button onclick="sendMessage()">Optimize Prompt</button>
    <div id="conversation"></div>
    <script src="https://cdn.jsdelivr.net/npm/marked@18.0.5/lib/marked.umd.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body> 
</html>